.events-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  max-width: 100%;
  color: var(--profile-text);
  /* background-color: var(--profiles-page); */
  background: #d31027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ea384d,
    #d31027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ea384d,
    #d31027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
