.radio-buttons-main-label {
  font-size: 1.4rem;
  color: var(--gray);
  text-transform: capitalize;
}
.radio-buttons-container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.radio-buttons-label {
  font-size: 1.4rem;
  margin-right: 1.5rem;
  margin-left: 0.8rem;
}

.radio-buttons-input[type="radio"] {
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  margin: calc(1.4rem / 2);
  outline: calc(1.4rem / 2) solid var(--heart-inactive-color);
  outline-offset: calc(1.4rem / -2);
  cursor: pointer;
  backface-visibility: hidden;
  border-radius: 50%;
  transform: rotate(45deg) scale(1);
  will-change: transform;
}

.radio-buttons-input[type="radio"]:checked {
  border-radius: 50% 50% 0 50%;
  animation: active 1s ease forwards;
  outline-offset: calc(1.4rem / -2);
  outline: calc(1.4rem / 2) solid var(--heart-inactive-color);
}

@keyframes active {
  25% {
    transform: rotate(45deg) scale(1.5);
  }
  75% {
    transform: rotate(45deg) scale(1.25);
  }
  50%,
  100% {
    transform: rotate(45deg) scale(1);
    box-shadow: 0 calc(1.4rem / -2) 0 0 var(--heart-active-color),
      calc(1.4rem / -2) 0 0 0 var(--heart-active-color);
    outline-color: var(--heart-active-color);
  }
}
