.step-nav {
  margin: 1rem 0;
  display: flex;
}

.step-button {
  background-color: var(--step-button-background);
  color: var(--step-button);
  border: none;
  padding: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0.1rem;
  border-bottom: 0.1rem solid transparent;
  flex-grow: 1;
}

.step-button.active {
  border-bottom: 0.3rem solid var(--step-button);
}
