/* Colors */

:root {
  --pink: #ed6663;
  --link: #e9dddd;
  --gray: gray;
  --nav-color: #0399d8;
  --profiles-page: #781c68;
  --profile-color: #4e89ae;
  --profile-text: #ffa372;
  --step-button: #ff0220;
  --step-button-background: #ff829146;
  --form-color: #ffffff;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elements */
html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

.App {
  width: 100vw;
}
